@import '../../../css/vars';

:host {
  @include container;
  background-color: $c-bg;
  .example {
    &--item {
      @include card;
      height: 100%;
      position: relative;
      padding-top: 85px;
      &--header {
        position: absolute;
        padding: 25px;
        top: 0;
        left: 0;
        h6 {
          text-transform: uppercase;
        }
      }
      &--body {
        position: relative;
        height: 100%;
      }
    }
  }
}
